main {
    background-color: #FFF;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
}
main h1 {
    font-weight: 700;
    font-size: 3.125rem;
    padding-bottom: 14px;
}
main > p {
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: -0.2px;
    padding-bottom: 40px;
}
main .contents_bg {
    background-color: #F5F5F5;
    padding-top: 40px;
    padding-bottom: 40px;
    /* margin-top: 40px; */
}
main .contents_bg > p {
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: -0.2px;
    /* margin-bottom: 40px; */
    padding-bottom: 30px;
}
main .contents_bg .vision {background-color: #F5F5F5;}
main .contents_bg .vision h2, 
main .contents_bg .goal h2,
main .contents_bg .strategy h2 {
    font-size: 1.875rem;
    color: #36B4E5;
    /* margin-top: 40px; */
    /* margin-bottom: 10px; */
    padding-top: 80px;
    padding-bottom: 30px;
}
main .contents_bg .vision p {
    font-size: 2.25rem;
    line-height: 45px;
}
main .contents_bg .goal #sandwich div {
    display: inline-block;
    width: 250px; height: 250px;
    padding-top: 67px;
    border-radius: 50%;
    /* figma drop shadow == css box-shadow */
    /* box-shadow:x축 y축 blur값 색상; */
    box-shadow: 0px 0px 6px rgb(0,0,0,0.25);
    margin-left: -18px;
}
main .contents_bg .goal #sandwich div h3 {
    font-size: 1.563rem; color: #FFF;
    letter-spacing: -0.2px;
}
main .contents_bg .goal #sandwich div p {
    padding-bottom: 20px;
}
main .contents_bg .goal #sandwich div p img {
    width: 60px; height: 60px;
}
main .contents_bg .goal #sandwich #sdwc1 {
    background-color: #36B4E5;
}
main .contents_bg .goal #sandwich #sdwc2 {
    background-color: #FFF;
}
main .contents_bg .goal #sandwich #sdwc2 h3 {
    color: black;
}
main .contents_bg .goal #sandwich #sdwc3 {
    background-color: #F3C300;
}
main .contents_bg .strategy #strategy_wrap div {
    display: inline-block;
    background-color: #eee;
    width: 210px; height: 210px;
    padding-top: 80px;
    border-radius: 50%;
    /* figma drop shadow == css box-shadow */
    /* box-shadow:x축 y축 blur값 색상; */
    box-shadow: 0px 0px 6px rgb(0,0,0,0.25);
    margin-left: -10px;
}
main .contents_bg .strategy #strategy_wrap div h3 {
    display: inline-block;
    font-size: 1.315rem;
    font-weight: 600; letter-spacing: -0.2px;
    margin-bottom: 10px;
}
main .contents_bg .strategy #strategy_wrap div > p {
    color: #797979; font-weight: 300;
    font-size: 1.400rem;
}