header {
    width: 100%;
    min-width: 320px; max-width: 1920px;
    height: 80px; padding: 0 16px;
    background-color: #000;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    width: 301px; /* height: 40px; */
    /* img 태그가 들어가는 부모요소에 크기 입력 시 꼴 필요한 경우가 아니면 width값만  입력하여 height값은 비율에 맞게 자동으로 설정되게 처리한다. */
    /* border: 3px solid red; */
}
header h1 a {}
header h1 a img {
    width: 100%;
}
header nav {}
header nav a {
    color: #FFF; font-size: 1.25rem;
    margin-right: 24px;
}
header nav a:last-child {margin: 0;}
/* a 상태 성택자: (동적)마우스 올렸을 때 느낌 */
header nav a:hover {color:#bbb;}
header .snb {
    display: flex;
}
header .snb a:first-child {
    color: #fff; border:  2px solid #fff;
    padding: 5px 10px; border-radius: 5px;
    line-height: 39px; margin-right: 24px;
}
header .snb a:first-child:hover {
    /* border-color: #ff0; */
}
header .snb a:last-child {
    display: inline-block;
    width: 36px;
}
header .snb a img {width: 100%;} filter:invert(1)
header .snb a img {}
main {
    min-width: 320px; max-width: 100%;
}
main .visual {
    /* width: 100%;  */
    overflow: hidden;
    height: 720px;
    position: relative;
    /* text-align: center; */
}
main .visual video {
    width: 100%;
}
main .visual .visual_title {
    position: absolute; left: 0; top: 234px;
    /* 겹치는 형제요소 디자인 작업을 위한 absolute */
    /* 1. 겹치는 대상에 absolute 설정 후 부모 확인을 위해 왼쪽 탑 초기값 설정 */
    /* 2. 배치된 위치가 원하는 부모 위치가 아닐 때 -> 원하는 부모니 */
    /*  */
    width: 100%;
    text-align: center;
}
main .visual .visual_title h2 {
    font-size: 3rem;
    font-weight: 700; color: #fff;
    line-height: 150%;
    margin-bottom: 30px;
}
main .visual .visual_title .start_link {
    display: inline-block;
    width: 160px;  background-color: #000;
    border-radius: 10px;
    color: #FFF;
    line-height: 54px;
}
main .visual .visual_title .start_link:hover {
    border-radius: 20px;
}
main .creater {
    width: 1300px;
    margin: 150px auto 0;
    text-align: center;
}
main .creater h2 {
    font-size: 3rem;
    font-weight: 700;
}
main .creater > p {
    font-size: 1.25rem;
    line-height: 150%;
    margin: 55px 0;
}
main .creater span {
    display: inline-block;
    width: 697px; margin: 0 auto 55px;
}
main .creater span img {
    width: 100%;
}
main .creater .studio {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 150px;
}
main .creater .studio dl {
    display: inline-block;
    text-align: center;
    width: calc(100% / 3);
}
main .creater .studio dl dt {
    font-size: 2rem;font-weight: 700;
}
main .creater .studio dl dd {
    font-size: 1.25rem;
    padding-top: 18px;
}
/* =====================world */
main .world {
    width: 100%;
    padding: 150px 0;
    background-color:#e9e9e9;
}
main .world .bg3 {
    margin: 0 auto;
    text-align: center;
    width: 1260px; 
}
main .represen h2,
main .world .bg3 h2 {
    font-size: 3rem;
    font-weight: 700;
}
main .represen p,
main .world .bg3 > p {
    font-size: 1.25rem;
    line-height: 150%;
    margin: 50px 0;
}
main .world .bg3 .box {
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main .world .bg3 .box dd {
    width: calc((100% / 3) - 20px);
    height: 300px;
    background-color: #FFF;
    border-radius: 15px;
    align-content: center;
}
main .world .bg3 .box dd h3 {
    font-size: 1.5rem; font-weight: 700;
    line-height: 1.5;
}
main .world .bg3 .box dd p {
    margin: 30px 0;
    line-height: 1.7;
}
main .world .bg3 .box dd #more {
    display: inline-block;
    line-height: 1.7; color: #FFF;
    background-color: #000;
    padding: 0 25px; height: 54px;
    border: none;
    border-radius: 20px;
}
/* =====================대표 */
main .represen {
    margin: 150px auto;
    padding: auto;
    text-align: center;
    width: 1260px;
}
/* main .represen h2 {}
main .represen p {} */
main .represen .zepeto_repr {
    width: 100%;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 16px;
}
main .represen .zepeto_repr li {
}
main .represen .zepeto_repr li img {
    width: 240px;
}
/* =====================footer */
.f_bg {
    width: 100%; height: 249px;
    background-color: #F5F5F5;
}
.f_bg footer {
    width: 1260px ; margin: 0 auto;
    padding: 80px 16px;
}
.f_bg footer .f_top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 25px;
}
.f_bg footer .f_top .f_menu {}
.f_bg footer .f_top .f_menu a {
    margin-right: 24px;
}
.f_bg footer .f_top .lang_sns {}
.f_bg footer .f_top .lang_sns #lang_select {
    appearance: none;
    padding: 0 10px; height: 25px;
    border: 1px solid #000; border-radius: 5px;
    background-image: url(../img/);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-x: 5px;
    background-position-y: 65px;
}
.f_bg footer .f_top .lang_sns #lang_select option {}
.f_bg footer .f_top .lang_sns a {
    margin-left: 12px;
}
.f_bg footer .f_top .lang_sns a img {
    size: 24px; width: 24px; height: 24px;
}
.f_bg footer .copy {
    width: 100%;
    float: left;
}