/* 공통, 배경 */
main {
    font-family: 'Noto Sans KR', sans-serif;
}
main .bg {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}
main .bg1 {
    height: 1050px;
    background-image: url(../img/bg01_1.jpg);
}
main .bg2 {
    height: 1016px;
    background-image: url(../img/bg02.jpg);
}
main .bg section {
    width: 1250px;
    margin: 0 auto;
    /* background-color: hsl(180, 71%, 70%, 30%); */
}
/* -------------------------------1page */
main .bg1 section h1 {
    text-align: left;
}
main .bg1 section h2 {
    width: 849.27px;
    margin: 116px auto 0;
}
/* -------------------------------2page */
main .bg2 section {
    /* color: #fff;
    background-image: url(../img/bg02.png);
    width: 1250px; height: 1016px;
    display: inline-block;
    background-repeat: no-repeat; */
}