/* 공통, 배경 */
main {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
}
main .bg {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}
main .bg1 {
    height: 1050px;
    background-image: url(../img/bg01_1.jpg);
}
main .bg2 {
    height: 1085px;
    background-image: url(../img/bg02.jpg);
}
main .bg3 {
    height: 1135px;
    background-image: url(../img/bg03.jpg);
}
main .bg4 {
    height: 1016px;
    background-image: url(../img/bg04.jpg);
}
main .bg5 {
    height: 1086px;
    background-image: url(../img/bg05.jpg);
}
main .bg6 {
    height: 943px;
    background-image: url(../img/bg06.jpg);
}
main .bg7 {
    height: 1100px;
    background-image: url(../img/bg07.jpg);
}
main .bg8 {
    height: 1190px;
    background-image: url(../img/bg08.jpg);
}
main .bg9 {
    height: 1008px;
    background-image: url(../img/bg09.jpg);
}
main .bg10 {
    height: 924px;
    background-image: url(../img/bg10.jpg);
}
main .bg11 {
    height: 1052px;
    background-image: url(../img/bg11.jpg);
}
main .bg12 {
    height: 279px;
    background-image: url(../img/bg12.jpg);
}
main .bg section {
    width: 1250px;
    margin: 0 auto;
    /* background-color: hsl(180, 71%, 70%, 30%); */
}
main .pinkbtn {
    display: inline-block;
    font-weight: 700;
    font-size: 2.5rem; color: #fff;
    background-color: #FA6462;
    padding: 12px 46px;
    border-radius: 50px;
}
/* -------------------------------1page */
main .bg1 section h1 {
    text-align: left;
}
main .bg1 section h2 {
    width: 849.27px;
    margin: 116px auto 0;
}
main .bg1 section .pinkbtn {
    margin: 17px 0 0;
}
main .bg1 section p {
    font-size: 2.25rem;
    margin: 43px 0 51px;
}
main .bg1 section > a {
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    font-size: 1.8rem; color: #fff;
    font-weight: 600;
    width: 384px; height: 70px;
    background-color: #3A6FF2;
    border-radius: 80px 0 80px 0;
}
/* -------------------------------2page */
main .bg2 section {
    color: #fff;
    height: 1085px;
    position: relative;
}
main .bg2 section #quiz {
}
main .bg2 section #quiz #quiz_q {
    padding-top: 140px;
    float: left;
    padding-left: 50px;
}
main .bg2 section #quiz #quiz_q dl {}
main .bg2 section #quiz #quiz_q dl dt {
    display: inline-block;
    font-size: 10.5rem; font-weight: 700;
    color: #FA6462;
    float: left;
}
main .bg2 section #quiz #quiz_q dl dd {
    display: inline-block;
    margin-top: 80px;
    margin-left: 10px;
}
main .bg2 section #quiz #quiz_q dl dd p {
    font-size: 2.5rem; font-weight: 700;
}
main .bg2 section #quiz #quiz_q dl dd p span {
    font-weight: 700; color: #3A6FF2;
}
main .bg2 section #quiz #quiz_q dl dd .quiz_a {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.25rem;
    width: 540px;
    padding: 25px 0 58px 20px;
}
main .bg2 section #quiz #quiz_q dl dd .quiz_a input[name=quiz] {
    display: none;
}
main .bg2 section #quiz #quiz_q dl dd .quiz_a label {
    display: inline-block;
    height: 2.75rem;
    background-image: url(../img/quiz_unchecked.svg);
    background-repeat: no-repeat;
    padding-left: 40px;
    line-height: 32px;
    margin: 25px;
}
main .bg2 section #quiz #quiz_q dl dd .quiz_a input[name=quiz]:checked +label {
    background-image: url(../img/quiz_checked.svg);}
main .bg2 section #quiz #quiz_q #bg02_deco {
    position: absolute;
    width: 564px; height: 791.53px;
    z-index: 500; right:27px; bottom: 0; 
}
main .bg2 section #quiz #quiz_q #check_answer {
    display: inline-block;
    width: 579px; line-height: 50px;
    font-size: 1.5rem; font-weight: 500;
    background-color: #000;
    color: #cccccc;
    border: none;
    border-radius: 150px;
    text-align: center;
    margin-left: -30px;
    margin-top: -80px;
}
main .bg2 section .text_b {
    display: inline-block;
    margin-top: 240px;
    position: relative;
}
main .bg2 section .text_b p {
    display: inline-block;
    width: 530px;
    font-size: 2rem; font-weight: 600;
    line-height: 1.5;
    position: absolute;
    left: -160px; top: 0;
    text-align: right;
}
main .bg2 section .text_b .pinkbtn::after {
    content: '';
    background-image: url(../img/download.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    width: 40px; height: 40px;
    display: inline-block;
    padding-left: 5px;}
main .bg2 section .text_b .pinkbtn {
    margin-top: 105px;
    padding: 12px 60px;
}
/* -------------------------------3page */
main .bg3 section {
    padding-top: 130px;
}
main .bg3 section .pinkbtn::after {
    content: '';
    background-image: url(../img/icon_pennib.svg);
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px; height: 44px;
    display: inline-block;}
main .bg3 section #vd_int {
    display: inline-block;
    width: 900px;
    border-left: 10px solid #3A6FF2;
    font-size: 1.8rem; text-align: left;
    line-height: 1.4;
    padding: 10px 0 10px 16px ;
    background-color: #fff;
    margin: 34px 0 48px;
}
main .bg3 section #video {}

/* -------------------------------4page */
main .bg4 section {
    color: #fff;
    height: 1016px;
    background-image: url(../img/bg04_deco.png);
    background-position: center;
    background-repeat: no-repeat;
}
main .bg4 section h2 {
    padding-top: 50px;
    font-size: 6rem;
    float: left;
    font-weight: 700;
}
main .bg4 section .text_b {
    padding-top: 98px;
    width: 845px; float: right;
    text-align: right;
}
main .bg4 section .text_b p:first-child {
    border-top: 5px solid #fff;
    padding-top: 20px;
}
main .bg4 section .text_b p {
    font-size: 2.5rem;
    line-height: 1.7;
    font-weight: 500;
}
main .bg4 section .text_b p em {
    font-size: 8rem; color: #FA6462;
    line-height: 1.4;
    font-weight: 900;
}

/* -------------------------------5page */
main .bg5 section {
    padding-top: 142px;
}
main .bg5 section p {
    width: 100%; height: 843px;
    background-image: url(../img/bg05_img.png);
    font-size: 7.125rem;
    text-align: left;
    padding: 40px 0 0 440px ;
    font-weight: 700;
    line-height: 132px;
    background-position: center;
    background-repeat: no-repeat;
}
main .bg5 section p em {
    font-weight: 700;
    color: #3A6FF2;
}

/* -------------------------------6page */
main .bg6 section {
    color: #fff;
    padding-top: 152px;
    padding-right: 692px;
    text-align: right;
}
main .bg6 section .title {
    margin: 0 0 60px;
}
main .bg6 section .title p {
    font-size: 2.8rem;
    font-weight: 600;
}
main .bg6 section .title p em {
    font-size: 5rem;
    font-weight: 700;
    color: #3A6FF2;
}
main .bg6 section .text_b {
    display: inline-block;
    padding: 40px 10px 10px 10px;
    width: 450px;
    border-top: 3px solid #3A6FF2;
}
main .bg6 section .text_b p {
    font-size: 2rem; font-weight: 300;
    line-height: 58px;
}
main .bg6 section .text_b .img {
    margin-top: 50px;
    padding-right: 10px;
}
main .bg6 section .text_b .img img {
    margin-left: 16px;
}

/* -------------------------------7page */
main .bg7 section {
    text-align: left;
}
main .bg7 section span {
    display: inline-block;
    width: 522px; height: 908px;
    float: left;
    padding: 96px 0 0 70px;

}
main .bg7 section span img {}
main .bg7 section dl {
    display: inline-block;
    padding-top: 200px;
    padding-right: 70px;
    float: right;
}
main .bg7 section dl dt {
    margin: 20px 0 60px;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 700;
    color: #FA6462;
}
main .bg7 section dl dd {
    display: inline-block;
    padding: 60px 10px 10px 10px;
    width: 550px;
    letter-spacing: -0.2px;
    border-top: 3px solid #FA6462;
    font-size: 2rem; font-weight: 500;
    line-height: 1.8;
    text-align: left;
}

/* -------------------------------8page */
main .bg8 section {
    color: #fff;
}
main .bg8 section h2 {
    font-size: 3rem; font-weight: 700;
    /* padding: 24px; */
    padding: 100px 0 20px;
    border-bottom: 3px solid #3A6FF2;
}
main .bg8 section p {
    margin-top: 20px;
    font-size: 1.5rem; font-weight: 400;
    line-height: 1.6;
}

/* -------------------------------9page */
main .bg9 section {
    text-align: center;
}
main .bg9 section h2 {
    display: inline-block;
    font-size: 4rem; font-weight: 700;
    /* padding: 26px; */
    padding: 320px 0 30px ;
    color: #FA6462;
    border-bottom: 3px solid #FA6462;
    width: 620px;
}
main .bg9 section p {
    padding-top: 30px;
    font-size: 2rem; font-weight: 500;
    line-height: 1.8;
}

/* -------------------------------10page */
main .bg10 section {
    padding-left: 70px;
}
main .bg10 section span {
    display: flex;
    float: left;
    padding-top: 48px;
}
main .bg10 section span img {}
main .bg10 section .text_b {
    width: 580px; display: flex;
    flex-flow: column nowrap;
    float: right;
    text-align: left;
    padding: 164px 0 0 10px;
}
main .bg10 section .text_b h2 {
    display: inline-block;
    width: 450px;
    line-height: 1.5;
    font-size: 2.5rem; color: #fff;
    font-weight: 600;
    padding-bottom: 40px;
    border-bottom: 3px solid #A89BF9;
}
main .bg10 section .text_b h2 em {
    font-size: 3.8rem; font-weight: 700;
    color: #A89BF9; line-height: 1.2;
}
main .bg10 section .text_b p {
    display: inline-block;
    width: 620px;
    color: #fff;
    padding-top: 40px;
    font-size: 1.5rem; font-weight: 400;
    line-height: 1.8;
}

/* -------------------------------11page */
main .bg11 section {
    padding-top: 366px;
}
main .bg11 section h2 {
    font-size: 5rem; font-weight: 700;
    line-height: 1.2;
    margin-bottom: 34px;
}
main .bg11 section h2 em {
    font-weight: 700;
    color: #FA6462;
}
main .bg11 section h2 span {
    font-weight: 700;
    color: #3A6FF2;
}
main .bg11 section .pinkbtn::after {
    content: '';
    background-image: url(../img/download.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    width: 30px; height: 40px;
    display: inline-block;
    padding-left: 5px;}

/* -------------------------------12page */
main .bg12 section {
    color: #4D4D4D;
    text-align: left;
    padding-top: 40px ;
    padding-left: 106px ;
}
main .bg12 section h2 {
    font-size: 1.5rem; font-weight: 600;
}
main .bg12 section p {
    line-height: 2;
    padding: 14px 0 ;
}
main .bg12 section #last {
    border-top: 2px solid #979797;
}