/* 초록색 코드 #03c75a */
main {
    background-color: #FFF;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.4px;
}
main h1, main h1 em {
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 60px;
    padding-bottom: 48px;
}
main em {
    color: #03c75a;
}
main > p , main > p .user{
    font-size: 1.5rem;
    line-height: 1.2;
    padding-bottom: 48px;
}
main .inf > p {
    font-size: 1.25rem;
    line-height: 1.7;
    padding-bottom: 50px;
}
main .inf > p a {
    color: #808080;
    text-decoration: underline;
}
main .tableset {}
main .tableset .wth {
    font-size: 1.563rem;
    line-height: 1.875;
    padding-bottom: 22px;
}
main .tableset .wth span {
    font-size: 1.25rem;
    line-height: 1.5;
}
main .tableset table {
    border-top: 3px solid #000;
    width: 930px;
}
main .tableset table thead {
    background-color: #f5f5f5;
}
main .tableset table thead tr {}
main .tableset table thead tr th {}
main .tableset table tbody {
    /* border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa; */
    border: 1px solid #aaa;
    border-left: 0; border-right: 0;
}
main .tableset table .align {text-align: center;}
main .tableset table tr * {
    padding-top: 15px; padding-bottom: 15px;
}
main .tableset table tbody tr {}
main .tableset table tbody tr td {}
main .tableset .basket {
    display: inline-block;
    width: 930px;
    text-align: right;
    font-size: 1.25rem;
    line-height: 1.5;
    padding-top: 10px;
    text-decoration:underline;
}
main .tableset .basket a {}
/* a태그는 inline, block 특징을 모두 가질 수 있지만
고유한 기본 속성은 inline이기 때문에 표시속성 display명령으로
bolck으로 변경하지 않는 한, 크기 여백을 제대로 인식하지 못한다. */
main .btm {
    text-align: center;
}
main .btm a {
    display: inline-block;
    background-color: #03c75a;
    width: 178px; height: 64px;
    border-radius: 30px;
    font-size: 22px;
    line-height: 1.5;
    /* line-height는 글자가 한 줄일 때 높이가 정해진 레이아웃에서 수직중앙으로 배치하고자 하는 경우p px단위를 사용해서 적용한다 */
    color: #fff;
    padding-top: 14px;
    margin: 7.5px;
}