/* 첫번째 div */
body > h1 {background-color: lemonchiffon; color: crimson;}
.test_box {background-color: bisque;}
.test_box h1 {color: rgb(219, 100, 124);}
.test_box h2 {color: rgb(197, 94, 115);}
.test_box h3 {color: rgb(184, 96, 113);}
.test_box h4 {color: rgb(151, 83, 97);}
.test_box #title1 {color: rgb(151, 104, 204);}
.test_box #title2 {color: rgb(105, 74, 139);}
.test_box p {color: rgb(219, 100, 124);}
.test_box blockquote {color: rgb(219, 100, 124);}
.test_box p span {color: rgb(219, 100, 124);}
.test_box p q {color: rgb(219, 100, 124);}
.test_box p sup {color: rgb(219, 100, 124);}
.test_box p sub {color: rgb(219, 100, 124);}
.test_box .test1 {color: rgb(219, 100, 124);}
.test_box .test2 {color: rgb(219, 100, 124);}
.test_box .test3_test {color: rgb(219, 100, 124);}
.test_box .test4_test {color: rgb(219, 100, 124);}
.test_box #wrap {color: rgb(219, 100, 124);}
hr {color: rgb(219, 100, 124);} /* 헤더시작 */
header {background-color: bisque;}
header h1 {color: rgb(219, 100, 124);}
header a {color: rgb(219, 100, 124);}
/* 헤더끝 */
/* ver2 */
.box {background-color: bisque;}
.box a {color: rgb(219, 100, 124);}
.box .contents {color: rgb(219, 100, 124);}
.box .contents p {color: rgb(219, 100, 124);}
.box .img {color: rgb(219, 100, 124);}
/* ver3 */
main {background-color: bisque;}
main aside {color: rgb(219, 100, 124);}
main aside h2 {color: rgb(219, 100, 124);}
main aside h2 ul {background-color: rgb(219, 158, 122);}
main aside h2 ul li {color: rgb(219, 100, 124);}
main aside h2 ul li a {color: rgb(219, 100, 124);}
main section {color: rgb(219, 100, 124);}
main section .top {color: rgb(219, 100, 124);}
main section .top h1 {color: rgb(219, 100, 124);}
main section .top p {color: rgb(219, 100, 124);}
main section article {color: rgb(219, 100, 124);}
main section article p {color: rgb(219, 100, 124);}
/* ver4 */
#t {background-color: bisque;}
#t thead {color: rgb(219, 100, 124);}
#t thead tr {color: rgb(219, 100, 124);}
#t thead tr th {color: rgb(219, 100, 124);}
#t tbody {color: rgb(219, 100, 124);}
#t tbody tr {color: rgb(219, 100, 124);}
#t tbody tr th {color: rgb(219, 100, 124);}
#t tfoot {color: rgb(219, 100, 124);}
#t tfoot tr {color: rgb(219, 100, 124);}
#t tfoot tr th {color: rgb(219, 100, 124);}
#t tfoot tr td em {color: rgb(219, 100, 124);}